  body {
    width: 90%;
    overflow: hidden;
  }
  ul.messages{
    list-style-type: none;
    font-size: 400%;
    font-weight: bold;
  }
  ul.messages li{
    display: none;
    top: 34%;
    position: absolute;
    text-align: center;
    width: 90%;
  }